# Virtual Environments
backend/myvenv/
env/
venv/

# Secrets and Keys
backend/.env
.env

# User Uploads (Ignore the contents, but you can keep the folder itself if you want)
backend/uploads/
backend/uploads/*

# Python Byte-compiled / Optimized / DLL files (This covers EVERY folder globally)
__pycache__/
*.py[cod]
*$py.class

# Temporary/System files
.DS_Store
folder_structure.txt